#faq{
    margin: 0;
    padding: 0;
    font-family: $open_sans;
    display: flex;
    min-height: 100vh;

    .container {
        margin: 0 auto;
        padding: 4rem;
        width: 48rem;

        h2{
            color: $vert;
        }

        p{
            color: $gris_paragraphe;
        }

        .accordeon .accordeon-item {
            border-bottom: 1px solid #e5e5e5;

            .accordeon .accordeon-item button[aria-expanded=true] {
                border-bottom: 1px solid $marron;
            }
        }

        .accordeon button {
            position: relative;
            display: block;
            text-align: left;
            width: 100%;
            padding: 1em 0;
            color: $marron;
            font-size: 1.15rem;
            font-weight: 400;
            border: none;
            background: none;
            outline: none;
        }

        .accordeon button:hover, .accordeon button:focus {
            cursor: pointer;
            color: #5b411f;
        }

        .accordeon button:hover::after, .accordeon button:focus::after {
            cursor: pointer;
            color: $marron;
            border: 1px solid $marron;
        }

        .accordeon button .accordeon-title {
            padding: 1em 1.5em 1em 0;
        }

        .accordeon button .icon {
            display: inline-block;
            position: absolute;
            top: 18px;
            right: 0;
            width: 22px;
            height: 22px;
            border: 1px solid;
            border-radius: 22px;
        }

        .accordeon button .icon::before {
            display: block;
            position: absolute;
            content: "";
            top: 10px;
            left: 6px;
            width: 10px;
            height: 2px;
            background: currentColor;
        }

        .accordeon button .icon::after {
            display: block;
            position: absolute;
            content: "";
            top: 6px;
            left: 10px;
            width: 2px;
            height: 10px;
            background: currentColor;
        }

        .accordeon button[aria-expanded=true] {
            color: $marron;
        }
          .accordeon button[aria-expanded=true] .icon::after {
            width: 0;
        }
          .accordeon button[aria-expanded=true] + .accordeon-content {
            opacity: 1;
            max-height: 9em;
            transition: all 200ms linear;
            will-change: opacity, max-height;
        }
          .accordeon .accordeon-content {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 200ms linear, max-height 200ms linear;
            will-change: opacity, max-height;
        }
          .accordeon .accordeon-content p {
            font-size: 1rem;
            font-weight: 300;
            margin: 2em 0;
        }
    }
}

  
  
  
 
 
  
  
  
  
  
  